* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.techno-vertical-center {
    align-items: center;
}

.w-7 {
    width: 7%;
}

.techno-btn-bg-style {
    background-color: #ccd2d8;
    color: #002858 !important;
    font-weight: 500;
}

.techno-before-hero-sec {
    background-color: #002858;
    height: 20px;
}

.techno-bg-color {
    background-color: #002858;
}

.techno-submit {
    color: #fff;
    padding: 7px 46px;
    border: 2px solid #808080;
    border-radius: 10px;
}

.techno-form-side-col {
    background-color: #748593;
    padding: 40px;
    border-radius: 20px;
    height: 320px;
    color: #fff;
}

.techno-circle-heading {
    background-color: #3488bd;
    padding: 50px 30px;
    border-radius: 100%;
    color: white;
    font-weight: 700;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.techno-form-side-col h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

.techno-form-side-col p {
    font-size: 14px;
    margin-bottom: 19px;
    border-bottom: 2px solid #000;
    padding-bottom: 15px;
}

@media screen and (max-width:768px) {
    .techn-circle-section {
        width: 100% !important;
    }

    .techno-form-side-col {
        padding: 20px;
        height: 360px;

    }
    .navbar
    {
        display: none;
    }
}
@media screen and (max-width:572px)
{
    .techno-form-side-col
    {
        margin-top: 30px;
    }
   
}